<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/login.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <title>Login de usuario</title>
</head>
<body>

    <header class="main-header">
        <div class="logo-buscador">
            <img src="/images/logo-mercado-liebre.svg" class="logo" alt="Logo Mercado Liebre" width="100%">
                
                <div class="buscador">
                    <input type="text" placeholder="Buscar productos, marcas">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </div>  
           
         </div>
            
         <p class="copy-header">
            <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y con tarjeta de crédito
        </p>
         
         <a href="#" class="hamburguer-button">
             <i class="fas fa-bars"></i>
            
            </a>
        
            <nav class="main-navbar">
                <ul class="left-navbar">
                    <li><a href = "#">Ofertas</a></li>
                    <li><a href = "#">Tiendas Oficiales</a></li>
                    <li><a href = "#">Vender</a></li>
                    <li><a href = "#">Ayuda</a></li>
                </ul>
            
            <ul class="right-navbar">
                <li><a href = "/register">Creá tu cuenta
                    <i class="far fa-address-card"></i>
                    </a></li>
                
                <li><a href = "/login">Ingresá
                    <i class="fas fa-sign-in-alt"></i>
                </a></li>
                
                <li><a href = "#">Mis compras
                    <i class="fas fa-shopping-basket"></i>
                </a></li>
            </ul>
        </nav>
    
    </header>

    <div class="login-title">
        <h2>Ingresá a tu cuenta</h2>
    </div>

    <form action="/login" method="post" form="form-login" class="form-login">
        <div class="login-form">
            <div class="login-usuario"> 
                <input type="text" name="usuario" id="usuario" placeholder="Usuario">
            </div>

            <div class="login-password">
                <input type="password" name="password" id="password" placeholder="Contraseña">
            </div>
            
            <div class="login-button">
                <button type="submit"><a href = "/">Enviar</a></button>
            </div>
            <p class="form-link">Aún no estas registrado? <a href="/register">Registrate aquí</a></p>
        </div>

    </form>

    <footer>
        <section>
            <div><i class="fas fa-credit-card"></i></div>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <div><i class="fas fa-gift"></i></div>
            <h3>Envío gratis desde $2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <div><i class="fas fa-user-shield"></i></div>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <section>
            <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </section>
    </footer>

</body>
</html>