<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/login.css" rel="stylesheet">
    <title>Login de usuario</title>
</head>
<body>
    <div class="login">
        <div class="login-usuario"> 
            <input type="text" name="usuario" id="usuario">
        </div>

        <div class="login-password">
            <input type="password" name="password" id="password">
        </div>
        
        <div class="login-button">
            <button type="submit"><a href = "/">Enviar</a></button>
        </div>
        <p class="form-link">Aún no estas registrado? <a href="/register">Registrate aquí</a></p>
    </div>
</body>
</html>