.create-form {
    padding: 20px 15px;
}

.control-formulario {
    margin-bottom: 15px;
}

.control-formulario label {
    margin-bottom: 5px;
    font-style: italic;
    display: block;
}

.control {
    width: 100%;
    padding: 8px;
}

.button-form { 
    background-color:springgreen;
    border: none;
    font-size: 20px;
    color: floralwhite;
    padding: 5px 10px;
    border-radius: 5px;
}